<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo4"
        tools:targetApi="31">

        <!-- 定义应用的主活动 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />     <!-- 制定活动为启动器 -->
            </intent-filter>
        </activity>

        <!-- 定义应用服务的组件(服务是否启用，是否允许其他应用绑定或调用) -->
        <service
            android:name=".ServiceForAdd"
            android:enabled="true"
            android:exported="true">
        </service>

    </application>

</manifest>